<!DOCTYPE html>
<html>
<head>
  <title>Tokenizer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar fixed: :top, brand: "Tokenizer", responsive: true do %>
    <%= menu_group do %>
        <%= menu_item "Weak", login_path %>
        <%= menu_item "Average", tokenize_mid_path %>
        <%= menu_item "Strong", tokenize_strong_path %>
        <%= menu_divider %>
        <% end %>
<% end %>
 <div class="container">
<%= yield %>
</div>
</body>
</html>
